html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #3F3DA0;
}

#main-documents {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right top, #fafafa, #ececec, #e9e9e9);
}