@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

@font-face{
	font-family: 'Nunito Sans', sans-serif;
	src:url('https://fonts.googleapis.com/css?family=Nunito+Sans');

}

/* COMEÇO MENU */
body{
	background-color: #10589B;
	color:white;
}
nav{
    background: rgba(0, 0, 0, 0.2);
    padding:0px 20px;
    transition: 0.6s ease-in-out;
}
p{
	font-size: 20px;
}

.arrumar{
	font-size: 16px !important;
}

.cover{
	position: fixed;
}

nav li a:hover{
  	background: rgba(0, 0, 0, 0);
}

#logo{
	position: relative;
	height: 100%;
	width: auto;
	transition: all ease .4s;
}

#logo:hover{
	transform: scale(1.2);
}

.brand-logo{
	left: 10%;
	transition: all ease .4s;
}
.titulo{
	color: black;
	font-weight: bold;
	text-align: center;

}

.link-pagina:hover {
    color: hotpink !important;
    transition: 0.3s ease-in-out;
}
.link-pagina{
	color: white;
}
.link-group:nth-child(2n) .link-pagina{
	color: black;
}

.link-group:nth-child(2n){
 background-color: #fafafa !important;
 color: black !important;
 padding-bottom: 10vh;
 padding-top: 3vh;
}

.link-group{
 padding-bottom: 3vh;
 padding-top: 3vh;	
}

.item-menu{
	transition: all ease .3s;
	color: white!important;
}

.item-menu:hover{
	transform: scale(1.1);
}

.menu-solido{
	background-color: #3E4097;
}
/* FIM MENU */

